<td><%= tweet.post %></td>
<td><%= tweet.ujs %></td>
<td><%= link_to 'Show', tweet, remote: true %></td>
<td><%= link_to 'Edit', edit_tweet_path(tweet), remote: true %></td>
<td><%= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' }, remote: true %></td>
